body {
  background: #e5e5e5;
}

.logo {
  position: static;
  left: 36.67%;
  right: 37.43%;
  top: 0%;
  bottom: 0%;
}

.escribir-msj {
  width: 90%;
  margin: 60px;
  overflow: hidden;
}

.ok {
  float: left;
}

.mensaje-escrito {
  width: 680px;
  height: 288px;
  margin: 4px 15px;
  border: solid #15131300;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  /* or 48px */

  color: #0a3871;
  background: #e5e5e5;
}

p {
  width: 405px;
  height: 18px;
  margin-left: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 18px */

  /* Gray/gray-400 */

  color: #495057;

  opacity: 0.8;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.btn-encriptar {
  position: relative;

  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  
  width: 298px;
  height: 67px;
  cursor: pointer;

  /* Dark blue/dark-blue-300 */

  background: #0a3871;
  border-radius: 24px;
  color: white;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.btn-desencriptar {
  position: relative;

  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;

  width: 298px;
  height: 67px;
  cursor: pointer;

  /* Dark blue/dark-blue-300 */

  background: #d8dfe8;
  border-radius: 24px;
  color: #0a3871;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.mensaje-recibido {
  position: absolute;
  width: 400px;
  height: 600px;
  left: 900px;
  top: 40px;

  /* White */

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.mensaje {
    position: absolute;
    width: 336px;
    height: 464px;
    left: 30px;
    top: 33px;


  /* White */

  background: #ffffff;
  text-align: justify;
  text-justify: auto;
  /* shadow */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;

  border: solid #15131300;
}

.muñeco {
  position: absolute;
  width: 336px;
  height: 304px;
  left: 30px;
  top: 83px;
}

.msj-noencontrado {
  position: absolute;
  width: 336px;
  height: 58px;
  top: 390px;
  left: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;

  /* or 29px */

  text-align: center;

  /* Gray/gray-500 */

  color: #343a40;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.msj-noencontrado-p {
  position: absolute;
  width: 336px;
  height: 58px;
  top: 450px;
  left: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  /* or 29px */

  text-align: center;

  /* Gray/gray-500 */

  color: #495057;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.btn-copiar{
  position: absolute;
  width: 236px;
  height: 58px;
  top: 530px;
  left: 95px;
  
  cursor: pointer;

  /* Dark blue/dark-blue-300 */

  background: #d8dfe8;
  border-radius: 24px;
  color: #0a3871;
  /* Inside auto layout */

}